.welcome-text {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.welcome-text-wrapper {
    background-color: rgb(200, 230, 250);
    border: 2px;
    margin: auto;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 75%;
}